<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post || Tech Stuff</title>

    <!--------------------------------font-awesome-------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--------------------------------font style link-------------------------------->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">

    <!--------------------------------google captcha link-------------------------------->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>

    <script src="https://cdn.tiny.cloud/1/10bbycv6jgo2pan1wh6jlgn98lm9rad5nuyir4rwso6ttxct/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>

    {% block css %}
        {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static 'css/add-post.css' %}">
        {% else %}
        <link rel="stylesheet" href="{% static 'css/notice.css' %}">
        {% endif %}

    {% endblock %}

</head>
<body>

        <div class="container">

            <div class="shape-1"></div>
            <div class="shape-2"></div>
            
            {% if user.is_authenticated %}

            <form class="addpost" action="{% url 'add_post' %}" method="POST" spellcheck="false" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="title">
                    <p>create your post</p>
                </div>
                {% if verify %}
                <script>
                    Swal.fire(
					'Post Added',
					'{{errorMsg}}',
					'success'
					)
                </script>
                {% endif %}
                {% if verify is False %}
                <script>
                    Swal.fire('{{errorMsg}}')
                </script>
                {% endif %}

                <div class="user-title">
                    <h3>title</h3>
                    <input type="text" class="form-control" name="form_title" id="form_title" required>
                </div>
                <div class="description">
                    <h3>description</h3>
                    <textarea cols="85" rows="7" id="mytextarea" name="form_desc"></textarea>
                </div>
                <div class="category">
                    <h3>category</h3>
                    <select name="category_val" id="category_val">
                        <option value="none" selected>Select</option>
                        {% for cate in allCate %}
                            <option value="{{cate.id}}">{{cate.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="choose-file">
                    <h3>select&nbsp;image</h3>
                    <label class="file-button" id="fileBtn"><i class="fa fa-cloud-upload"></i> upload
                        <input type="file" name="thumbnail" id="thumbnail" accept="image/*" onchange="addGreen()">
                   </label><i class="fa fa-check-circle" id="greenBtn" aria-hidden="true" style="display: none;"></i>
                </div>
                <div class="captcha">
                    <div class="g-recaptcha" data-sitekey="6LeEj-gZAAAAAO8dxTBQHkoxym1m2W9ecUzjmBVw"></div>
                </div>
                <div class="submit">
                    <button type="submit" id="submitBtn">Add Post</button>
                </div>

            </form>
            {% else %}

            <div class="notice-box">
                <div class="title">
                    <h3>Notice!</h3>
                </div>
                <div class="detail">
                    <p>We are so sorry to say, You can not add a post without login.
                        If you want to add a post, then first you should login to our blog
                        then you can add post successfully and enjoy our blog add post feature and all facilities. 
                    </p>
                </div>
                <div class="buttons">
                    <button><a href="/signin">signin</a></button>
                    <button id="login"><a href="/login">login</a></button>
                </div>
            </div>

            {% endif %}
        </div>
</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function addGreen(){
            document.getElementById("greenBtn").style.removeProperty("display");
        }

    </script>
</html>