* {
    margin     : 0px;
    padding    : 0px;
    box-sizing : border-box;
    user-select: none;
}

body {
    width: 100%;
}

html {
    font-size: 62.5%;
}
body{
    height:100vh;
    width:100vw;
}
.container {
    width           : 100%;
    height          : 100%;
    display         : flex;
    background      : #000;
    justify-content : center;
    align-items     : center;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.container .form {
    position: relative;
    height  : 320px;
    width   : 330px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3),
        6px 6px 10px 2px rgb(0, 0, 0, 0.3);
    background     : white;
    border-radius  : 7px;
    padding        : 25px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    overflow: hidden;
}


.form .title {
    color         : #0a5a80;
    text-transform: capitalize;
    font-family   : 'Roboto Slab', serif;
    font-size     : 1.9rem;
}

.confirm_form {

    justify-content: center;
    padding-top    : 20px;
}

.confirm_form .notes {

    color       : rgb(105, 103, 103);
    font-size   : 1.7em;
    word-spacing: 1px;
    line-height : 23px;
}

.confirm_form .notes span {
    font-size  : 1.7rem;
    color      : rgb(59, 59, 59);
    font-weight: bold;
}

.confirm_form .inputBox {
    margin-top: 17px;
}

.confirm_form .inputBox label {
    margin-bottom : 50px;
    color         : rgb(88, 87, 87);
    font-size     : 15px;
    font-family   : 'Oxygen', sans-serif;
    text-transform: capitalize;
}

.confirm_form .inputBox input {
    margin-top   : 6px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.confirm_form .inputBox input[type="number"] {
    width       : 100%;
    height      : 35px;
    border      : none;
    border      : 1px solid rgba(0, 40, 100, .12);
    outline     : none;
    padding-left: 12px;
}

.confirm_form .inputBox input::placeholder {
    color         : rgb(175, 174, 174);
    text-transform: capitalize;
    font-size     : 14px;
}

.confirm_form .inputBox input:focus {
    border-color: rgb(10, 150, 206);
    box-shadow  : 0px 0px 3px 1px rgb(118, 202, 235);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.confirm_form .buttons {
    display       : flex;
    flex-direction: row;
    margin-top: 10px;
}

.confirm_form .resend-button,
.confirm_form .verfiy-button {

    width         : 46%;
    border        : none;
    border-radius : 4px;
    padding       : 7px;
    background    : #467fcf;
    outline       : none;
    text-transform: capitalize;
}

.confirm_form .verfiy-button {
    background: #2ea44f;
}

.confirm_form .resend-button,
.confirm_form .verfiy-button{
    font-size      : 1.3rem;
    color          : #fff;
    text-decoration: none;
    font-family    : 'Oxygen', sans-serif;
    width          : 100%;
}

.confirm_form .resend-button:hover {
    background: #3271ca;
    cursor    : pointer;
}

.confirm_form .verfiy-button:hover
{
    background:#249143;
}

@media (max-width:410px) {
    html {
        font-size: 57%;
    }

    .container .form {
        width: 280px;
    }

}

@media (max-width:300px) {
    html {
        font-size: 56%;
    }

    .container .form {
        width : 250px;
        height: 320px;
    }

    .confirm_form .inputBox input {
        width: 78%;
    }

    .confirm_form .submit-button a {
        font-size: 10px;
    }


}