@import url("/template/template2.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 99.6vw;
  height: 100vh;
}

header,.search-line input{
  width: 100%;
  background: #f7f7f7;
}

.main-container {
  width: 100%;
  padding: 0% 1%;
  display: grid;
  grid-template-columns: 69.5% 28.5%;
  column-gap: 2%;
}

.post-title {
  width: 99%;
  grid-column: 1 / span 3;
}

.post-title h3 {
  margin: 30px 0px 50px 0px;
  padding: 10px;
  font-size: 4rem;
  font-family: "Goldman", cursive;
  font-family: "Merriweather", serif;
  color: rgb(70, 69, 69);
  border-radius: 5px;
}

.post-content {
  margin-bottom: 50px;
}

.post-content > .post-image {
  display: grid;
  justify-content: center;
  padding: 0% 1%;
}

.post-content .post-image img {
  transition: all 0.5s ease;
  width: 100%;
}

.post-content .post-image div {
  overflow: hidden;
}

.post-content .post-image img:hover {
  transform: scale(1.3);
}

.post-content .likes {
  font-size: 3.2rem;
  word-spacing: 3px;
  color: black;
}

.post-content .likes .fa-heart {
  color: rgb(216, 6, 6);
}

.post-content .likes a .fa-comment-o {
  line-height: 40px;
}

.post-content .likes .p {
  float: right;
  margin-right: 5px;
  font-size: 1.7rem;
  font-family: "Mukta", sans-serif;
  line-height: 30px;
}

.post-content .post-description {
  display: grid;
  justify-content: center;
  padding: 30px 0px;
}

.post-content .post-description p {
  width: 95%;
  margin-top: 20px;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(68, 67, 67);
  text-align: justify;
  line-height: 30px;
}

/* ------------------comment-------------------- */

.comment-container {
  margin-bottom: 10px;
  padding: 30px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-container .comment-box {
  width: 100%;
  max-height: 500px;
  position: relative;
  border: 1px solid skyblue;
  border-radius: 5px;
}

.comment-box .comment-label {
  padding: 14px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  font-size: 1.6rem;
}

.comment-box .inner-class {
  max-height: 440px;
  overflow: scroll;
}

.comment-box .inner-class .textarea {
  padding: 18px;
}

.comment-box .inner-class .textarea textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(165, 165, 165);
  color: rgb(66, 66, 66);
  font-family: "PT Serif", serif;
  border-radius: 4px;
  text-transform: none;
  resize: none;
  outline: none;
}

.comment-box .inner-class .send-button {
  margin-left: 16px;
}

.comment-box .inner-class .send-button button {
  width: 60px;
  height: 30px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #5bc0de;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.comment-box .inner-class .send-button button:hover {
  background-color: #4dadca;
}

.comment-box .inner-class .hr {
  margin-top: 20px;
  border: none;
  border: 1px solid rgb(230, 228, 228);
}

.comment-box .actual-comment {
  display: flex;
  position: relative;
  padding: 22px 10px;
  border-radius: 3px;
}

.comment-box .actual-comment:hover {
  background-color: rgb(223, 222, 222);
}

.comment-box .actual-comment .profile {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  display: none;
}

.comment-box .actual-comment .profile img {
  width: 70px;
  height: 73px;
  border-radius: 100%;
}

.comment-box .actual-comment .text {
  padding: 10px;
  font-family: "PT Serif", serif;
}

.comment-box .actual-comment .text .username {
  font-size: 1.6rem;
  margin-bottom: 5px;
  color: #3c763d;
}

.comment-box .actual-comment .text .time {
  position: absolute;
  top: 20px;
  right: 2%;
  font-size: 1.4rem;
  color: rgb(110, 108, 108);
}

.comment-box .actual-comment .text .comment {
  font-size: 1.6rem;
  color: rgb(36, 36, 36);
}

.comment-box .inner-class hr {
  border: none;
  border: 1px solid rgb(230, 228, 228);
}

/* ----------- scroll customize ----------- */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 144, 144);
}

/* ------------------- post status ------------------- */
.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar-container .header h3 {
  font-size: 2.5rem;
  color: rgb(70, 69, 69);
  text-align: left;
  font-family: "Goldman", cursive;
  font-family: "Merriweather", serif;
}

.sidebar-container .dashboard {
  width: 100%;
  padding: 0% 3% 3% 3%;
  margin-top: -10px;
  margin-bottom: 40px;
}

.sidebar-container .dashboard .dashboard_links {
  padding-top: 30px;
}

.sidebar-container .dashboard .dashboard_links .dashboard_title {
  background: rgb(108, 183, 212);
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.sidebar-container .dashboard .dashboard_links .dashboard_title a {
  color: #ecf0f1;
  font-size: 1.9rem;
}

.sidebar-container .dashboard .dashboard_links .links {
  display: flex;
  flex-direction: column;
}

.sidebar-container .dashboard .dashboard_links .links a {
  color: #333333;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  font-family: var(--Abel);
  font-weight: bolder;
  border: 1px solid #ddd;
}

.sidebar-container .dashboard .dashboard_links .links a span {
  float: right;
}

/* ------------------- mini posts------------------- */
.sidebar-container .mini-post {
  width: 100%;
}

.sidebar-container .mini-post .header {
  margin-bottom: 30px;
}

.sidebar-container .mini-post .post-info {
  display: flex;
  margin-top: 15px;
}

.sidebar-container .mini-post .img-div {
  overflow: hidden;
  width: 55%;
}

.sidebar-container .mini-post .img-div img {
  width: 100%;
  height: 105px;
  border-radius: 3px;
  transition: all 1.5s ease;
}

.sidebar-container .mini-post .img-div img:hover {
  transform: scale(1.4);
}

.sidebar-container .mini-post .text {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 60%;
}

.sidebar-container .mini-post .text p {
  font-size: 1.6rem;
  padding-left: 9px;
  color: rgb(54, 54, 54) !important;
  font-family: "Mukta", sans-serif;
}

.sidebar-container .mini-post hr {
  margin-top: 15px;
  border: none;
  border: 1px solid rgb(221, 221, 221);
}

/* ------------------- responsive area ------------------- */

@media only screen and (max-width: 1251px) {
  html {
    font-size: 58%;
  }

  .comment-container .comment-box {
    width: 100%;
  }

  .sidebar-container .header {
    margin-top: 20px;
    font-size: 2.3rem;
  }

  .sidebar-container .dashboard {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 940px) {
  html {
    font-size: 52%;
  }

  .main-container {
    grid-template-columns: 62.5% 35.5%;
    column-gap: 2%;
  }

  .sidebar-container .header {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 52%;
  }

  .main-container {
    width: 101%;
    display: block;
  }
  
  .post-title h3 {
    margin: 5px 0px 15px 0px;
    font-size: 2.3rem;
    padding: 20px;
  }

  .post-content .post-image > div {
    width: 97%;
  }

  .post-content .post-description {
    padding-top: 10px;
  }

  .comment-container {
    padding: 10px;
  }

  .comment-container .comment-box {
    width: 100%;
  }

  .sidebar-container .mini-post .img-div {
    width: 35%;
  }

  .sidebar-container .header {
    margin-top: -10px;
  }

  .sidebar-container .mini-post .header {
    display: block;
    margin-top: -10px;
    margin-bottom: 25px;
    font-size: 2.7rem;
    text-align: center;
  }
   .sidebar-container .mini-post .text {
    width: 75%;
  }
  .sidebar-container .mini-post .text p {
    font-size: 2.1rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .comment-container .comment-box {
    width: 102%;
  }
}

@media only screen and (max-width: 480px) {
  .main-container {
    padding: 10px;
  }

  .post-content .post-description p {
    width: 95%;
  }

  .main-container .comment-box {
    width: 100%;
  }

  .comment-box .actual-comment .profile img {
    width: 50px;
    height: 55px;
  }

  .comment-box .inner-class textarea {
    height: 90px;
  }

  .sidebar-container .mini-post .img-div {
    width: 50%;
  }
}

@media only screen and (max-width: 361px) {
  .post-content .post-description p {
    word-spacing: -3px;
  }
}

@media only screen and (max-width: 310px) {
  .sidebar-container .dashboard .dashboard_links .links a {
    font-size: 1.7rem;
  }
}
