@import url("/template/template2.css");

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container-permission {
  padding: 25px 30px;
}

.center {
  display: flex;
  justify-content: center;
}

.title h1 {
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px dashed gray;
  width: 100%;
  font-size: 3rem;
}

.center .title h1::after {
  content: "";
  position: absolute;
  margin-left: 2px;
  margin-top: 38px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: rgb(102, 101, 101);
}

.center .title h1::before {
  content: "";
  position: absolute;
  margin-left: -10px;
  margin-top: 38px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: rgb(102, 101, 101);
}

.user-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  /* display: none; */
}

.user-post .post {
  width: 100%;
  box-shadow: 0 4px 8px 0 #00000033;
  border-radius: 3px;
  position: relative;
}
.user-post .post .post-title .username{
    padding: 10px;
    font-size: 1.6rem;
    color: black;
}
.user-post .post .post-title .username a{
    font-size: 1.4rem;
}
.user-post .post .post-title img {
  height: 300px;
  width: 100%;
  margin-bottom: 15px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.user-post .post .post-title .padding {
  padding: 0px 20px;
}

.user-post .post .post-title .padding a {
  color: #111;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  font-size: 2rem;
}

.user-post .post .post-title h2 {
  margin: 10px 0;
  color: #777;
  font-size: 1.8rem;
  font-family: "Abel", sans-serif;
  padding: 0px 10px 0px 20px;
}

.user-post .post .post-info {
  padding: 20px;
  margin: 20px 0;
  word-spacing: 5px;
}

.user-post .post .post-info p {
  color: #424242;
  font-size: 1.6rem;
  font-family: "Lexend Deca", sans-serif;
  margin-top: -10px;
}

.post .post-info .button {
  height: 40px;
  position: relative;
  margin-top: -20px;
  margin-bottom: 10px;
  padding: 10px 10px;
  float: right;
  font-size: 1.6rem;
  font-family: "Lexend Deca", sans-serif;
  background: white;
  border-radius: 0;
  border: none;
  transition: 0.5s ease-in-out;
  line-height: 10px;
  z-index: 1;
  outline: none;
  cursor: pointer;
}

.post .post-info .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background: #000;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.post .post-info .button:hover {
  color: #fff;
}

.post .post-info .button:hover::before {
  width: 100%;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.selection {
  position: absolute;
  top: 5px;
  right: 5px;
}

.selection button {
  padding: 5px 10px;
  cursor: pointer;
  margin: 0px 2px;
  color:white;
  background:#467fcf;
  border: none;
  outline: none;
  border-radius: 3px;
}

.selection #deny{
    background: #2ea44f;
}

.selection button:hover{
      background: #3271ca;
    cursor    : pointer;
}
.selection #deny:hover
{
    background:#249143;
}

.permission-container .nopost{
  width: 100%;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.permission-container .nopost img{
  width: 30%;
}
@media only screen and (max-width: 1160px) {
  .user-post .post .post-title img {
    height: 250px;
  }
}

@media only screen and (max-width: 1046px) {
  .user-post {
    grid-template-columns: repeat(2, 1fr);
  }

  .user-post .post .post-title img {
    height: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .user-post .post .post-title img {
    height: 270px;
  }
}

@media only screen and (max-width: 710px) {
  .container-permission{
    padding: 0px;
  }

  .user-post {
    grid-template-columns: 100%;
  }

  .permission-container {
    padding: 0px 60px;
  }
  .permission-container .nopost img{
    width: 70%;
  }
}

@media only screen and (max-width: 636px) {

  .web_info {
    padding-top: 1px;
  }

  .user-post .post .post-info {
    padding-top: 1px;
  }
}

@media only screen and (max-width: 588px) {
  .permission-container {
    padding: 20px 20px;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .permission-container {
    padding: 20px 20px;
  }

  .user-post .post .post-title img {
    height: 200px;
  }

  .post .post-info .button {
    margin: 15px 0px;
    height: 30px;
    width: 110px;
    padding: 2px 2px;
    outline: none;
  }
}

@media only screen and (max-width: 380px) {
  html {
    font-size: 53%;
  }
  .container-permission {
    padding: 20px 18px;
  }
  .permission-container{
    padding: 0px;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 49%;
  }

  .container-permission {
    padding: 20px 10px;
  }

  .user-post .post .post-title .padding {
    padding: 0px 12px;
  }

  .user-post .post .post-title h2 {
    padding: 0px 10px;
  }

  .user-post .post .post-info {
    padding: 10px;
  }
}